{% extends 'base.html' %}

{% block title %}
{{ task }}
{% endblock %}

{% block content %}
<h1>Производим матиматические операции</h1>
<form class="form_auth_style" action="#" method="post">
    <label>Введите первое число</label>
    <input type="number_1" name="number_1" placeholder="число 1" required>
    <label>Введите второе число</label>
    <input type="number_2" name="number_2" placeholder="число 2" required>
    <select id="operation" name="operation">
        <option value="add">+</option>
        <option value="subtract">-</option>
        <option value="multiply">*</option>
        <option value="divide">/</option>
    </select>
    <button type="submit" name="result">Расчитать</button>
</form>
{% endblock %}