{% extends 'base.html' %}

{% block title %}
{{ task }}
{% endblock %}

{% block content %}
<h1>Проверяем ваш возраст</h1>
<form class="form_auth_style" action="#" method="post">
    <label>Введите имя</label>
    <input type="text" name="name" placeholder="введите имя" required>
    <label>Введите второе число</label>
    <input type="number" name="age" placeholder="введите ваш возраст" required>
    <button class="form_auth_button" type="submit" name="form_auth_submit">Отправить</button>
</form>
{% endblock %}